body {
  background-color: #f4e0da;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  padding-top: 50px;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu {
  position: absolute;
  cursor: pointer;
  z-index: 1000;
  margin: 20vh 2vh;
}

nav {
  background-color: #dfa18e;
  width: 90px;
  height: 300px;
  padding: 16px 10px 12px 20px;
  text-align: left;
  display: none;
  position: absolute;
  left: 0;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-top: 28vh;
  position: fixed;
}

@keyframes slide-in {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.9;
  }
}

nav.mostrar {
  display: block;
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.doblar {
  margin-top: 60px;
  text-align: center;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 30px;
  color: #8c2626;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.doblar:hover {
  -webkit-transform: perspective(150px) rotateX(45deg);
  transform: perspective(150px) rotateX(45deg);
}

.doblar a {
  text-decoration: none;
}

span {
  color: #852525;
}

.doblajeTitulo {
  font-size: 80px;
  margin: auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #852525;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.doblajeTitulo:hover {
  -webkit-transform: perspective(150px) rotateX(45deg);
  transform: perspective(150px) rotateX(45deg);
}
h3 {
  text-align: center;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 30px;
  color: #e38787;
  text-shadow: -1px 0 #414d68, 0 1px #414d68, 1px 0 #414d68, 0 -1px #414d68,
    -2px 2px 0 #414d68, 2px 2px 0 #414d68, 1px 1px #414d68, 2px 2px #414d68,
    3px 3px #414d68, 4px 4px #414d68, 5px 5px #414d68, 6px 6px #414d68,
    7px 7px #414d68, 8px 8px #414d68, 9px 9px #414d68;
}
p {
  text-align: justify;
  padding: 1% 20% 3%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 50px;
}

#video1,
#video2 {
  margin: 40px;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(236, 81, 81, 0.4),
    0px -1px 1px rgba(0, 0, 0, 0.3);
}

.videoDoblaje {
  /*Disposición del vídeo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  border-radius: 10%;

  /*Animación del vídeo del vídeo */

  view-timeline-name: --video;
  view-timeline-axis: block;

  animation-timeline: --video;
  animation-name: show;

  /*Permite que el usuario vea el vídeo cuando entra al 25% en pantalla*/

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

@media (max-width: 1000px) {
  .videoDoblaje {
    /*Disposición del vídeo */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .video {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    max-width: 500px;
    /*Animación del vídeo del vídeo */

    view-timeline-name: --video;
    view-timeline-axis: block;

    animation-timeline: --video;
    animation-name: show;

    /*Permite que el usuario vea el vídeo cuando entra al 25% en pantalla*/

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }

  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }
  p {
    text-align: justify;
    padding: 1% 5% 3%;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 50px;
  }
}

/*Texto y enlace*/

.doblar {
  flex-wrap: wrap;
  margin-top: 120px;
  text-align: center;
  color: #6a3120;
  font-size: 60px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 7px rgba(0, 0, 0, 0.2),
    7px 7px 9px rgba(0, 0, 0, 0.2), 9px 9px 11px rgba(243, 5, 5, 0.4),
    29px 29px 31px rgba(0, 0, 0, 0.2), 31px 31px 33px rgba(0, 0, 0, 0.2);
  font-family: "Lobster";
}

.doblar:hover {
  animation: brillar 1.5s ease-in-out infinite alternate;
}

@keyframes brillar {
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #672916,
      0 0 70px #b5411d, 0 0 80px #86331a, 0 0 100px #a12e0b, 0 0 150px #ff5722;
  }
  from {
    filter: brightness(110%);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff5722,
      0 0 35px #ff5722, 0 0 40px #ff5722, 0 0 50px #ff5722, 0 0 75px #ff5722;
  }
}

.doblar span {
  cursor: help;
  color: #852525;
  font-size: 60px;
  font-family: "Lobster";
}

.doblar a {
  text-decoration: none;
  font-size: 30px;
}

.dobladores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dobladora1,
#dobladora2,
#dobladora3,
#dobladora4,
#doblador1,
#doblador2,
#doblador3,
#doblador4 {
  text-align: justify;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  padding: 1% 20% 3%;
}

.opcionesH,
.opcionesM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seleccionarH,
.seleccionarM {
  color: rgb(148, 85, 25);
  padding: 3px;
  border: 2px solid rgb(152, 91, 34);
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  text-align: center;
  appearance: none;
  width: 100px;
  margin-top: 30px;
}

.opcionesH img,
.opcionesM img {
  width: 300px;
  display: block;
  margin: 0 auto;
  height: auto;
}

.container {
  height: 100px;
  background: #f2bfb0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.content {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.waves {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.wave {
  position: absolute;
  left: -180px;
  bottom: 0;
  width: 240%;
  height: 200px;
  background: url(https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png)
    center bottom no-repeat;
  animation: 5s wave ease-in-out infinite alternate;
}
.wave.a {
  background-position: 0 -854px;
}
.wave.b {
  background-position: 0 -400px;
  animation-delay: 0.6s;
}
.wave.c {
  background-position: 0 60px;
  animation-delay: 1.2s;
}
@keyframes wave {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-30px, 40px);
  }
  100% {
    transform: translate(30px, 0);
  }
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.contenedor figure {
  position: relative;
  width: 400px;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}

.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(228, 194, 134, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contenedor figure:hover > img {
  transform: scale(1.3);
}

.contenedor figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin: 70px 0 15px;
  transition: all 400ms ease-out;
}

.contenedor figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  max-width: 220px;
  margin: auto;
}

/*Imágenes con movimiento*/
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
}

.card {
  position: relative;
  height: 250px;
  width: 200px;
  padding: 40px;
  transform-style: preserve-3d;
}

/*1 Ricardo Solans*/

.card .bg1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/solans.jpg");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

/*Roger*/

.card .bg2 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/roger_pera.jpg");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

/*Pepe Mediavilla*/

.card .bg3 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/pepe.jpg");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

/*JL Gil*/

.card .bg4 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/JLGil.jpg");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

/*Nuria Trifol*/

.card .bg5 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/nuria.jpg");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}
/*Mercedes*/

.card .bg6 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/mercedes.jpg");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

/*Lucia*/

.card .bg7 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/lucia.jpeg");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

/*M Jenner*/

.card .bg8 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/jenner.jpg");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}
