body {
  background-color: rgb(216, 252, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  position: fixed; /* Fijo en la pantalla */
  top: 2vh;
  left: 0; /* Pegado a la izquierda */
  cursor: pointer;
  margin-top: 15vh;
  margin-left: 2vh;
}

nav {
  background-color: #df8bbd;
  width: 100px;
  height: 220px;
  padding: 16px;
  text-align: left;
  display: none;
  position: absolute;
  left: 0;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-top: 22vh;
  position: fixed;
}

@keyframes slide-in {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.9;
  }
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h2 {
  margin: 20px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #c430b5;
  text-shadow: 1px 1.5px 1px rgb(89, 33, 79);
}

h2:hover {
  animation-name: animate__flip;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes animate__flip {
  0% {
    transform: rotateY(0deg);
    opacity: 0;
  }
  50% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.tituloSub {
  width: 90%;
  background-color: #e9c3e5;
}

h1 {
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #79166f;
  animation-name: animate__rollIn;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  padding-top: 10px;
}

@keyframes animate__rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(50deg);
  }

  50% {
    opacity: 1;
    transform: translateX(60%) rotate(180deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0%) rotate(0);
    padding-bottom: 20px;
  }
}

.subParrafo {
  text-align: justify;
  width: 80%;
  max-width: 700px;
}

.panelDisney {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ocultar {
  display: none;
}

.disney {
  height: 180px;
  width: 150px;
  cursor: help;
}

.volteado {
  transform: rotateY(180deg);
  transition: transform 1s;
}

#info {
  background-color: #e38a8a;
  padding: 20px;
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 250px;
  margin-top: 20px;
}

.mostrar {
  display: block;
}

.ejemplo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video {
  width: 100%;
  max-width: 700px;
  left: 50%;
  view-timeline-name: --video;
  view-timeline-axis: block;

  animation-timeline: --video;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.caja {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  max-width: 1000px;
  height: 700px;
}

.caja div {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(218, 126, 208);
}
/* Asegura que las imágenes ocupen toda la celda */
.caja img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la imagen cubra todo el espacio sin deformarse */
  transition: opacity 0.3s ease; /* Efecto de transición suave al cambiar opacidad */
}

/* Ocultar el texto al principio */
.caja p {
  position: absolute;
  color: white;
  opacity: 0; /* El texto es invisible por defecto */
  transition: opacity 0.3s ease; /* Transición suave para mostrar el texto */
}

/* Mostrar el texto cuando el ratón pase por encima */
.caja div:hover p {
  opacity: 1; /* Muestra el texto al hacer hover */
}

/* Hacer que la imagen se desvanezca al hacer hover */
.caja div:hover img {
  opacity: 0; /* Hace la imagen invisible al pasar el ratón */
}

.uno {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}

.dos {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.tres {
  grid-column: 7 / 9;
  grid-row: 1 / 2;
}

.cuatro {
  grid-column: 5 / 9;
  grid-row: 2 / 3;
}

.cinco {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}

.seis {
  grid-column: 5 / 9;
}

.parrafo1 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 20px;
  font-size: 20px;
}
.parrafo2 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 10px;
  font-size: 14px;
}
.parrafo3 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 6px;
  font-size: 14px;
}

.parrafo4 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 10px;
  font-size: 14px;
}

.parrafo5 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 10px;
  font-size: 14px;
}
.parrafo6 {
  text-align: center;
  bottom: 20%;
  left: 10px;
  right: 10px;
  padding: 10px;
  font-size: 40px;
  font-size: 30px;
}

@media (max-width: 768px) {
  .parrafo1,
  .parrafo2,
  .parrafo3,
  .parrafo4,
  .parrafo5,
  .parrafo6 {
    font-size: 14px; /* Tamaño más pequeño para pantallas medianas */
    padding: 10px; /* Reduce el padding en pantallas pequeñas */
  }

  .parrafo1 {
    bottom: 25%; /* Ajusta la posición */
  }

  .parrafo2 {
    bottom: 18%;
    font-size: 10px;
  }

  .parrafo3 {
    bottom: 30%;
    font-size: 8px;
  }

  .parrafo4 {
    bottom: 25%;
  }

  .parrafo5 {
    bottom: 8%;
  }

  .parrafo6 {
    bottom: 40%; /* Ajusta la posición */
    font-size: 12px; /* Tamaño más pequeño */
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
}

.card {
  position: relative;
  height: 100px;
  width: 200px;
  padding: 40px;
  transform-style: preserve-3d;
}

.card .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("img/pngegg.png");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Asegura que el enlace esté por encima de la imagen de fondo */
  text-decoration: none; /* Elimina el subrayado del enlace */
  cursor: pointer;
}
