body {
  background-color: rgb(216, 252, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  position: fixed; /* Fijo en la pantalla */
  top: 2vh;
  left: 0; /* Pegado a la izquierda */
  cursor: pointer;
  margin-top: 15vh;
  margin-left: 2vh;
}

nav {
  background-color: #df8bbd;
  width: 100px;
  height: 220px;
  padding: 16px;
  text-align: left;
  display: none; /* Oculta el menú por defecto */
  position: absolute; /* El menú es fijo */
  left: 0;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-top: 22vh;
  position: fixed;
}

@keyframes slide-in {
  from {
    transform: translateX(-250px); /* Empieza fuera de la pantalla */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Termina en su posición actual */
    opacity: 0.9;
  }
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h2 {
  margin: auto;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #79146f;
  text-shadow: 1px 1.5px 1px rgb(130, 19, 110);
}

h2:hover {
  animation-name: animate__flip;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes animate__flip {
  0% {
    transform: rotateY(0deg);
    opacity: 0;
  }
  50% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.tituloSub {
  width: 90%;
  background-color: #e9c3e5;
}

h1 {
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #79166f;
  animation-name: animate__rollIn;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  padding-top: 10px;
}

@keyframes animate__rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(50deg);
  }

  50% {
    opacity: 1;
    transform: translateX(60%) rotate(180deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0%) rotate(0);
    padding-bottom: 20px;
  }
}

.subParrafo {
  text-align: justify;
  width: 80%;
  max-width: 700px;
}

#vanelopesub:hover {
  transform: scale(1.05) rotate(5deg);
}

video {
  width: 100%;
  max-width: 700px;
  left: 50%;
}

.ocultar {
  display: none;
}

.volteado {
  transform: rotateY(180deg); /* Rota la imagen 180 grados */
  transition: transform 1s; /* Efecto suave */
}

#info {
  background-color: #e38a8a;
  padding: 30px;
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 2;
  text-align: center;
  margin-right: 40vh;
  margin-top: -10vh;
  width: 30%;
  max-width: 250px;
}

.mostrar {
  display: block;
}

.galeria {
  margin-top: 10px;
  box-shadow: 0 4px 10px 2px black;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 100%;
}

div.galeria img {
  width: 100%;
  height: 100%;
}

.foto1:hover,
.foto2:hover,
.foto3:hover,
.foto4:hover,
.foto5:hover,
.foto6:hover {
  transform: rotate(-4deg);
  cursor: zoom-in;
}

#paso1,
#paso2,
#paso3,
#paso4,
#paso5,
#paso6 {
  width: 20%;
  height: auto;
  text-align: center;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #852d6c;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#pasos {
  background-color: bisque;
  margin: 5px;
  padding: 10px;
}

.ejemplo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video {
  view-timeline-name: --video;
  view-timeline-axis: block;

  animation-timeline: --video;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
