body {
  display: flex;
  flex-direction: column;
}

.menu {
  position: fixed;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  margin: 24vh 1vh;
}

nav {
  background-color: #dfa18e;
  width: 90px;
  height: 250px;
  padding: 5px 60px 50px 0px;
  text-align: left;
  display: none; /* Oculta el menú por defecto */
  position: fixed; /* El menú es fijo */
  left: 0;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  top: 30vh;
  position: fixed;
  padding: 16px;
}

@keyframes slide-in {
  from {
    transform: translateX(-250px); /* Empieza fuera de la pantalla */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Termina en su posición actual */
    opacity: 0.9;
  }
}

nav.mostrar {
  display: block; /* Muestra el menú cuando se activa */
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.tAutomatico {
  padding: 30px;
  margin: 0;
  background-color: rgb(164, 70, 30, 0.3);
}

.tAutomaticoTitulo {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #a4461e;
  animation-name: fadein;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

p,
#googleH,
#deeplH,
#ponsH {
  margin: auto;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  padding: 3% 20% 3%;
}

#traductoresAuto {
  margin: auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #b26521;
  margin-top: 1vh;
}

#google,
#deepl,
#pons {
  margin: auto;
  display: block;
  animation-name: saltos;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  cursor: pointer;
}

@keyframes saltos {
  0% {
    transform: translateY(0) translateX(-100vh);
    opacity: 0;
    visibility: hidden;
  }

  10% {
    transform: translateY(-30px) translateX(-90vh); /* Salto más alto */
    opacity: 1;
    visibility: visible;
  }

  20% {
    transform: translateY(0px) translateX(-80vh);
  }

  30% {
    transform: translateY(-30px) translateX(-70vh); /* Salto más alto */
  }

  40% {
    transform: translateY(0px) translateX(-60vh);
  }

  50% {
    transform: translateY(-30px) translateX(-50vh); /* Salto más alto */
  }

  60% {
    transform: translateY(0px) translateX(-40vh);
  }

  70% {
    transform: translateY(-30px) translateX(-30vh); /* Salto más alto */
  }

  80% {
    transform: translateY(0px) translateX(-20vh);
  }

  90% {
    transform: translateY(-30px) translateX(-10vh); /* Salto más alto */
  }

  100% {
    transform: translateY(0px) translateX(0vh);
    opacity: 1;
    visibility: visible;
  }
}

.trueda {
  display: block;
  position: absolute;
  left: -100px;
  animation-name: rueda;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
@keyframes rueda {
  0% {
    left: -100px; /* Fuera de la pantalla */
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    left: 40%; /* Centrado horizontalmente */
    opacity: 1;
    visibility: visible;
    transform: rotate(360deg) scale(1);
    cursor: pointer;
  }
}

#corazon {
  display: block;
  animation: pulse 6s infinite ease-in;
  position: relative;
  opacity: 0;
  animation-delay: 10s;
}

@keyframes pulse {
  0% {
    opacity: 0;
    visibility: hidden;
    left: 50%;
  }
  10% {
    opacity: 0.2;
    transform: scale(0.8);
    left: 50%;
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
    left: 50%;
  }
}

#mensaje {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b73d32;
  border: 5px #e5d3c3;
  margin: auto;
  max-width: 300px;
  padding: 5vh;
  text-align: center;
  border-style: dotted;
}

#mensaje:hover {
  animation-name: parpadear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-decoration: dashed;
}

@keyframes parpadear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
