@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e5f6f0;
}

.menu {
  position: fixed;
  left: 0;
  z-index: 1000;
  margin: 12vh 2vh;
  cursor: pointer;
}

nav {
  background-color: #bcf3c9;
  width: 200px;
  height: 300px;
  padding: 20px 10px 10px 20px;
  text-align: left;
  display: none;
  left: 0;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-top: 18vh;
  position: fixed;
}

@keyframes slide-in {
  from {
    transform: translateX(-250px); /* Empieza fuera de la pantalla */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Termina en su posición actual */
    opacity: 0.9;
  }
}

nav.mostrar {
  display: block;
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Estilo del banner superior */

.tabanner {
  height: 2cm; /* Altura fija */
  width: 100%; /* Ancho completo */
  background-color: #72d498;
}

/* Estilo de título principal */
h1 {
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: center; /* Centra el contenido */
  align-items: center; /* Alinea los elementos verticalmente */
  overflow: hidden; /* Evita el desbordamiento de texto */
  color: rgb(32, 54, 32);
  width: 500px;
  font-size: 40px;
}

/* Animación de aparición para los textos de izquierda y derecha */

.izq,
.der {
  position: relative;
  opacity: 0;
  animation: slideIn 5s forwards; /* Aplica la animación de entrada */
}

.izq {
  animation-name: slideInLeft; /* Animación para el lado izquierdo */
}

.der {
  animation-name: slideInRight; /* Animación para el lado derecho */
}

/* Animación de deslizamiento hacia la izquierda */

@keyframes slideInLeft {
  0% {
    transform: translateX(
      -100%
    ); /* Comienza fuera de la pantalla a la izquierda */
    opacity: 0;
  }
  100% {
    transform: translateX(-8%); /* Llega a la posición deseada */
    opacity: 1;
  }
}

/* Animación de deslizamiento hacia la derecha */

@keyframes slideInRight {
  0% {
    transform: translateX(
      100%
    ); /* Comienza fuera de la pantalla a la derecha */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Llega a su posición final */
    opacity: 1;
  }
}

/* Estilos para la sección de texto principal */
.ta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 1% 20% 3%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  width: 80%;
}

/* Estilos de la tabla */
.tabla2 {
  width: 60%;
  max-width: 80%;
  height: 100%;
  border-color: #29425d;
  text-align: center; /* Alineación de texto al centro */
  margin-top: 20px;
  background-image: url(../img/tablaimagen.jpg);
  background-size: contain;
}

/* Estilo para las celdas de la tabla */
th {
  color: #0a3e76;
  border: none;
}

td {
  color: black;
  border-color: #0a3e76;
  font-weight: bolder;
}

/* Estilos para los títulos de los ejemplos con animación */

#audiodescripcion,
#descripcion_sordos {
  text-decoration: underline;
  animation: gelatine 5s infinite; /* Aplica la animación gelatina */
  margin: 40px;
  font-size: 40px;
  color: #0f632f;
}

/* Animación de tipo gelatina para los títulos */

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1); /* Mantiene el tamaño normal */
  }
  25% {
    transform: scale(0.9, 1.1); /* Efecto de contracción */
  }
  50% {
    transform: scale(1.1, 0.9); /* Efecto de expansión */
  }
  75% {
    transform: scale(0.95, 1.05); /* Efecto de rebote */
  }
}

/* Estilo para la sección de ejemplos de traducción accesible */

.ejemplosTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 100%;
}

/* Estilo para los párrafos */
p {
  width: 60%;
  max-width: 60%;
  color: black;
  text-align: justify;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

/* Estilo para los videos */

video {
  display: flex;
  width: 60%;
  max-width: 100%;
  margin: 20px;
  left: 50%;
  border-radius: 20px;
  view-timeline-name: --video;
  view-timeline-axis: block;

  animation-timeline: --video;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

/* Animación de aparición de los videos */

@keyframes show {
  from {
    opacity: 0;
    scale: 25%; /* Comienza pequeño */
  }
  to {
    opacity: 1;
    scale: 100%; /* Se expande a su tamaño original */
  }
}

/* Estilos para el slider de imágenes */

.slider {
  width: 60%;
  max-width: 60%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

/* Estilo para el contenedor de imágenes en el slider */

figure {
  position: relative;
  left: 0;
  width: 400%;
  animation: slide 10s infinite;
  margin: 0;
}

/* Estilos para cada slide */

.slide {
  position: relative;
  width: 25%;
  float: left;
}

/* Estilo para las imágenes dentro del slider */

.slide img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

/* Animación para el deslizamiento de imágenes */
@keyframes slide {
  0% {
    left: 0;
  } /* Inicia en la posición original */
  25% {
    left: -100%;
  } /* Se mueve la primera imagen fuera de la vista */
  40% {
    left: -200%;
  } /* La segunda imagen desaparece y entra tla tercera*/
  55% {
    left: -300%;
  } /* La tercera imagen desaparece */
  65% {
    left: -200%;
  } /* Vuelve a la segunda imagen */
  75% {
    left: -100%;
  } /* Vuelve a la primera imagen */
  90% {
    left: 0;
  } /* Vuelve a la posición inicial */
  100% {
    left: 0;
  } /* Regresa a la posición inicial */
}

@media (max-width: 1000px) {
  .menu {
    margin-top: 30vh;
  }

  nav {
    margin-top: 36vh;
  }
  video {
    width: 500px;
    max-width: 500px;
  }

  .carousel {
    width: 500px;
    max-width: 500px;
  }

  #audiodescripcion,
  #descripcion_sordos {
    font-size: 30px;
  }

  .slider {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 200px; /* Ajusta la altura al contenedor */
  }

  .slide img {
    height: 200px; /* Cambia la altura de las imágenes a 200 píxeles*/
  }
}

.carousel {
  aspect-ratio: 16/9;
  width: 900px;
  height: auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  background-image: url(../img/fonodovideo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  background: none;
  border: none;
  height: 100%;
  width: 30px;
  z-index: 3;
}

.arrow:hover {
  cursor: pointer;
}

.arrow > img {
  height: 32px;
  transition: all 400ms ease-in-out;
}

.back-arrow {
  left: 0;
}

.back-arrow:hover > img {
  transform: translateX(-10%) scale(1.2);
}

.next-arrow {
  right: 0;
}

.next-arrow:hover > img {
  transform: translateX(10%) scale(1.2);
}

.sl:not(.showcase) {
  width: 0;
}

.showcase {
  width: 95%;
}

.left {
  left: 0;
}

.right {
  left: 100%;
}

.sl {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: all ease-in-out var(--duration);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 25px;
}

.sl-bg {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 2;
}

.tradilex {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.contenedor {
  width: 900px;
  height: 300px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  margin: 30px;
}

.carta {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #9796f0, #fbc7d4;
  background: -webkit-linear-gradient(141deg, #9796f0, #fbc7d4);
  background: linear-gradient(141deg, #9796f0, #fbc7d4);
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #c2e5df;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carta .content h3 {
  font-size: 40px;
  color: rgb(102, 25, 123);
  margin-top: 10%;
}

hr {
  width: 700px;
  align-items: center;
  border-top: 2px solid black;
  margin-top: -20px;
}

.carta .content p {
  font-size: 20px;
  line-height: 25px;
  color: black;
  display: flex;
  text-align: justify;
  margin: 20px 20px 0 20px;
}
.carta .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carta:hover .content {
  transform: translateY(-10%);
  opacity: 1;
  z-index: 1;
}

.carta:hover .imagen {
  transform: translateY(30%);
  opacity: 0;
}

.imagen {
  background-image: url(../img/t.jpg);
  background-size: cover; /* Keeps the image within the div, maintaining aspect ratio */
  background-repeat: no-repeat; /* Prevents tiling of the image */
  background-position: center;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  position: absolute;
}

.contenedor::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 250%;
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

a .btn {
  font-family: Arial;
  background-color: #baefd8;
  border: 1px solid #777;
  border-radius: 3px;
  display: block;
  color: #333;
  cursor: pointer;
  font-size: 15px;
  padding: 6px 34px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 10px;
}

a .btn:hover {
  box-shadow: 10px 10px 10px #05584d;
}

a,
a:visited {
  text-decoration: none;
}
