@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

header {
  background-color: rgb(164, 70, 30, 0.3);
  height: 180px;
  width: auto;
}

footer {
  background-color: rgb(164, 70, 30, 0.3);
  height: 100px;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  position: fixed;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  margin: 10vh 1vh;
}

nav {
  background-color: #dfa18e;
  width: 90px;
  height: 200px;
  padding: 5px 60px 50px 0px;
  text-align: left;
  display: none; /* Oculta el menú por defecto */
  position: fixed; /* El menú es fijo */
  left: 0;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  top: 40vh;
  position: fixed;
  padding: 16px;
}

@keyframes slide-in {
  from {
    transform: translateX(-250px); /* Empieza fuera de la pantalla */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.9;
  }
}

nav.mostrar {
  display: block;
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-size: 16px;
}

.contenedor {
  position: absolute;
  font-weight: bold;
  top: 20%;
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%);
  white-space: nowrap;
  letter-spacing: 2px;
  animation-name: fadein;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.sombra {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(7, 7, 3);
  transform: skewX(50deg) scale(1, 2);
  transform-origin: bottom left;
  z-index: -1;
  white-space: nowrap;
  letter-spacing: 10px;
}

.tAutomatico {
  position: relative;
  color: #b97a55;
  -webkit-text-stroke: 0.2px black;
  font-family: "Anton", sans-serif;
  font-size: 60px;
  white-space: nowrap;
  letter-spacing: 2px;
}

/* */
p,
#googleH,
#deeplH,
#ponsH {
  margin: auto;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  padding: 3% 20% 3%;
  font-size: 20px;
}

/* */
#google,
#deepl,
#pons {
  margin: auto;
  display: block;
  animation-name: saltos;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  cursor: pointer;
}

/* */
@keyframes saltos {
  0% {
    transform: translateY(0) translateX(-100vh);
    opacity: 0;
    visibility: hidden;
  }

  10% {
    transform: translateY(-30px) translateX(-90vh); /* Salto más alto */
    opacity: 1;
    visibility: visible;
  }

  20% {
    transform: translateY(0px) translateX(-80vh);
  }

  30% {
    transform: translateY(-30px) translateX(-70vh); /* Salto más alto */
  }

  40% {
    transform: translateY(0px) translateX(-60vh);
  }

  50% {
    transform: translateY(-30px) translateX(-50vh); /* Salto más alto */
  }

  60% {
    transform: translateY(0px) translateX(-40vh);
  }

  70% {
    transform: translateY(-30px) translateX(-30vh); /* Salto más alto */
  }

  80% {
    transform: translateY(0px) translateX(-20vh);
  }

  90% {
    transform: translateY(-30px) translateX(-10vh); /* Salto más alto */
  }

  100% {
    transform: translateY(0px) translateX(0vh);
    opacity: 1;
    visibility: visible;
  }
}

/* */
.trueda {
  display: block;
  position: absolute;
  left: -100px;
  animation-name: rueda;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
@keyframes rueda {
  0% {
    left: -100px; /* Fuera de la pantalla */
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    left: 40%;
    opacity: 1;
    visibility: visible;
    transform: rotate(360deg) scale(1);
    cursor: pointer;
  }
}

/* */
#corazon {
  display: block;
  animation: pulse 6s infinite ease-in;
  position: relative;
  opacity: 0;
  animation-delay: 10s;
}

@keyframes pulse {
  0% {
    opacity: 0;
    visibility: hidden;
    left: 50%;
  }
  10% {
    opacity: 0.2;
    transform: scale(0.8);
    left: 50%;
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
    left: 50%;
  }
}

/* */
#mensaje {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b73d32;
  border: 5px #e5d3c3;
  margin: auto;
  max-width: 300px;
  padding: 5vh;
  text-align: center;
  border-style: dotted;
}

#mensaje:hover {
  animation-name: parpadear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-decoration: dashed;
}

/* */
@keyframes parpadear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.con1 {
  display: flex;
  justify-content: center;
}
#container {
  position: relative;
  background: rgb(187, 151, 128);
  padding-bottom: 5px;
  margin: 0 40vh 2vh;
  min-height: 50px; /* Evita que el contenedor se encoja demasiado */
  min-width: 50px; /* Evita que el contenedor se encoja demasiado */
  width: 950px;
}
.select-lang {
  text-align: center;
}
.select-lang span:nth-child(1) {
  float: left;
}
.select-lang span:nth-child(2) {
  display: inline-block;
  padding: 10px;
  color: black;
}
.select-lang span:nth-child(3) {
  float: right;
}
.select-lang span select {
  padding: 10px;
  background: transparent;
  border: none;
  color: black;
  font-family: Rubik;
}
.translater-text {
  background: #fff;
  margin: 0 5px 0px 5px;
  overflow: hidden;
  min-height: 100px; /* Evita que el contenedor se encoja demasiado */
  min-width: 200px; /* Evita que el contenedor se encoja demasiado */
}
.translater-text textarea {
  border: none;
  width: 90%;
  font-size: 18px;
  padding: 10px;
  height: 50px;
  outline: none;
  min-height: 100px; /* Evita que el contenedor se encoja demasiado */
  min-width: 200px; /* Evita que el contenedor se encoja demasiado */
}
#translate {
  padding: 10px;
  background: #d1c2a7;
  border: none;
  border-radius: 3px;
  color: #222;
  font-weight: bold;
  margin: 0 5px 5px 5px;
  float: right;
}
#clear {
  padding: 10px;
  background: transparent;
  border: none;
  color: #222;
  font-weight: bold;
  margin: 0 5px 5px 5px;
}
#clear .fa {
  margin-right: 5px;
  color: dodgerblue;
  font-size: 18px;
}
.output {
  background: rgb(238, 222, 212);
  margin: 0 40vh 10vh;
  min-height: 50px; /* Evita que el contenedor se encoja demasiado */
  min-width: 50px; /* Evita que el contenedor se encoja demasiado */
  width: 950px;
}
#output {
  background: transparent;
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 10px;
}

.output span {
  display: block;
  text-align: right;
  padding: 10px;
}

.dicc {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 950px;
  min-height: 50px; /* Evita que el contenedor se encoja demasiado */
  min-width: 50px; /* Evita que el contenedor se encoja demasiado */
}

.elementosdic,
.boton {
  background-color: cadetblue;
}

.elementosdic {
  padding-top: 40px;
}
.boton {
  padding-bottom: 20px;
}

#usuarioNombre {
  padding: 2px;
  margin-bottom: 0.5cm;
}

#mensajeEntrada {
  height: 2cm;
  width: 20cm;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .output,
  .dicc,
  #container {
    width: 300px; /* Fija el ancho a 400px */
    margin: 0 auto; /* Centra horizontalmente */
    transform: none; /* Elimina transformaciones para asegurar el centrado */
    padding: 10px; /* Ajusta el relleno si es necesario */
  }

  .elementosdic,
  .boton {
    width: auto; /* Asegura que se adapten al ancho disponible */
  }

  #mensajeEntrada {
    height: 2cm;
    width: 10cm;
    font-size: 16px;
  }

  .sombra {
    font-family: "Anton", sans-serif;
    font-size: 20px;
    top: 0;
    left: 50px;
    color: rgb(7, 7, 3);
    transform: skewX(50deg) scale(1, 2);
    transform-origin: bottom left;
    z-index: -1;
    white-space: nowrap;
    letter-spacing: 8px;
  }

  .tAutomatico {
    position: relative;
    color: #b97a55;
    -webkit-text-stroke: 0.2px black;
    font-family: "Anton", sans-serif;
    font-size: 40px;
    white-space: nowrap;
    letter-spacing: 2px;
  }

  #mensajeEntrada {
    height: 2cm;
    width: 200px;
    font-size: 16px;
  }
}

.divdic a {
  font-size: 20px;
  text-decoration: none !important;
  color: #a4461e !important;
}

.divdic a:visited {
  text-decoration: none !important;
  color: #a4461e !important;
}

.divdic a,
.divdic a:visited {
  -webkit-text-stroke: 1px rgb(176, 229, 231);
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 40px;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 20px 20px 10px #7953da;
  cursor: pointer;
  font-weight: bolder;
}

.miboton {
  margin: 10px 50px;
  height: 30px;
  width: 100px;
  border: none;
  color: black;
  font-size: 12px;
  font-weight: bold;
  transition: 1s;
  overflow: hidden;
  background: #d8d8f5, #fbc7d4;
  background: -webkit-linear-gradient(90deg, #d8d8f5, #fbc7d4);
  background: linear-gradient(90deg, #d8d8f5, #fbc7d4);
  border-radius: 10%;
}
