body {
  display: flex;
  flex-direction: column;
}

.menu {
  position: fixed;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  margin: 24vh 1vh;
}

nav {
  background-color: #dfa18e;
  width: 90px;
  height: 200px;
  padding: 5px 60px 50px 0px;
  text-align: left;
  display: none; /* Oculta el menú por defecto */
  position: fixed; /* El menú es fijo */
  left: 0;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  top: 30vh;
  position: fixed;
  padding: 16px;
}

@keyframes slide-in {
  from {
    transform: translateX(-250px); /* Empieza fuera de la pantalla */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.9;
  }
}

nav.mostrar {
  display: block;
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* */
.tAutomatico {
  padding: 30px;
  margin: 0;
  background-color: rgb(164, 70, 30, 0.3);
}

/* */
.tAutomaticoTitulo {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #a4461e;
  animation-name: fadein;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* */
p,
#googleH,
#deeplH,
#ponsH {
  margin: auto;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  padding: 3% 20% 3%;
}

/* */
#traductoresAuto {
  margin: auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #b26521;
  margin-top: 1vh;
}

/* */
#google,
#deepl,
#pons {
  margin: auto;
  display: block;
  animation-name: saltos;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  cursor: pointer;
}

/* */
@keyframes saltos {
  0% {
    transform: translateY(0) translateX(-100vh);
    opacity: 0;
    visibility: hidden;
  }

  10% {
    transform: translateY(-30px) translateX(-90vh); /* Salto más alto */
    opacity: 1;
    visibility: visible;
  }

  20% {
    transform: translateY(0px) translateX(-80vh);
  }

  30% {
    transform: translateY(-30px) translateX(-70vh); /* Salto más alto */
  }

  40% {
    transform: translateY(0px) translateX(-60vh);
  }

  50% {
    transform: translateY(-30px) translateX(-50vh); /* Salto más alto */
  }

  60% {
    transform: translateY(0px) translateX(-40vh);
  }

  70% {
    transform: translateY(-30px) translateX(-30vh); /* Salto más alto */
  }

  80% {
    transform: translateY(0px) translateX(-20vh);
  }

  90% {
    transform: translateY(-30px) translateX(-10vh); /* Salto más alto */
  }

  100% {
    transform: translateY(0px) translateX(0vh);
    opacity: 1;
    visibility: visible;
  }
}

/* */
.trueda {
  display: block;
  position: absolute;
  left: -100px;
  animation-name: rueda;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
@keyframes rueda {
  0% {
    left: -100px; /* Fuera de la pantalla */
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    left: 40%;
    opacity: 1;
    visibility: visible;
    transform: rotate(360deg) scale(1);
    cursor: pointer;
  }
}

/* */
#corazon {
  display: block;
  animation: pulse 6s infinite ease-in;
  position: relative;
  opacity: 0;
  animation-delay: 10s;
}

@keyframes pulse {
  0% {
    opacity: 0;
    visibility: hidden;
    left: 50%;
  }
  10% {
    opacity: 0.2;
    transform: scale(0.8);
    left: 50%;
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
    left: 50%;
  }
}

/* */
#mensaje {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b73d32;
  border: 5px #e5d3c3;
  margin: auto;
  max-width: 300px;
  padding: 5vh;
  text-align: center;
  border-style: dotted;
}

#mensaje:hover {
  animation-name: parpadear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-decoration: dashed;
}

/* */
@keyframes parpadear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.con1 {
  display: flex;
  justify-content: center;
}
#container {
  position: relative;
  background: rgb(187, 151, 128);
  padding-bottom: 5px;
  margin: 0 40vh 2vh;
  min-height: 50px; /* Evita que el contenedor se encoja demasiado */
  min-width: 50px; /* Evita que el contenedor se encoja demasiado */
  width: 62%;
  transform: translateX(50%, -50%);
}
.select-lang {
  text-align: center;
}
.select-lang span:nth-child(1) {
  float: left;
}
.select-lang span:nth-child(2) {
  display: inline-block;
  padding: 10px;
  color: black;
}
.select-lang span:nth-child(3) {
  float: right;
}
.select-lang span select {
  padding: 10px;
  background: transparent;
  border: none;
  color: black;
  font-family: Rubik;
}
.translater-text {
  background: #fff;
  margin: 0 5px 0px 5px;
  overflow: hidden;
  min-height: 100px; /* Evita que el contenedor se encoja demasiado */
  min-width: 200px; /* Evita que el contenedor se encoja demasiado */
}
.translater-text textarea {
  border: none;
  width: 90%;
  font-size: 18px;
  padding: 10px;
  height: 50px;
  outline: none;
  min-height: 100px; /* Evita que el contenedor se encoja demasiado */
  min-width: 200px; /* Evita que el contenedor se encoja demasiado */
}
#translate {
  padding: 10px;
  background: #d1c2a7;
  border: none;
  border-radius: 3px;
  color: #222;
  font-weight: bold;
  margin: 0 5px 5px 5px;
  float: right;
}
#clear {
  padding: 10px;
  background: transparent;
  border: none;
  color: #222;
  font-weight: bold;
  margin: 0 5px 5px 5px;
}
#clear .fa {
  margin-right: 5px;
  color: dodgerblue;
  font-size: 18px;
}
.output {
  background: rgb(238, 222, 212);
  margin: 0 40vh 10vh;
  min-height: 50px; /* Evita que el contenedor se encoja demasiado */
  min-width: 50px; /* Evita que el contenedor se encoja demasiado */
  width: 62%;
  transform: translateX(50%, -50%);
}
#output {
  background: transparent;
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 10px;
}

.output span {
  display: block;
  text-align: right;
  padding: 10px;
}

.dicc {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 5px;
  width: 62%;
  transform: translateX(28%);
  min-height: 50px; /* Evita que el contenedor se encoja demasiado */
  min-width: 50px;
}

.elementosdic,
.boton {
  background-color: cadetblue;
  padding: 12px;
}

#usuarioNombre {
  padding: 2px;
  margin-bottom: 0.5cm;
}

#mensajeEntrada {
  height: 2cm;
  width: 20cm;
  font-size: 16px;
}

@media (max-width: 100px) {
  .dicc,
  #container {
    width: 400px; /* Fija el ancho a 400px */
    margin: 0 auto; /* Centra horizontalmente */
    transform: none; /* Elimina transformaciones para asegurar el centrado */
    padding: 10px; /* Ajusta el relleno si es necesario */
  }

  .output {
    width: 400px; /* Asegura el tamaño en pantallas pequeñas */
    margin: 10px auto; /* Centra horizontalmente con algo de margen */
  }

  .elementosdic,
  .boton {
    width: auto; /* Asegura que se adapten al ancho disponible */
  }

  #mensajeEntrada {
    height: 2cm;
    width: 10cm;
    font-size: 16px;
  }
}

.divdic a {
  font-size: 20px;
  text-decoration: none !important;
  color: #a4461e !important;
}

.divdic a:visited {
  text-decoration: none !important;
  color: #a4461e !important;
}
