@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=New+Rocker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

body {
  background-color: rgb(216, 252, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.menu {
  position: fixed; /* Fijo en la pantalla */
  top: 2vh;
  left: 0; /* Pegado a la izquierda */
  cursor: pointer;
  margin-top: 15vh;
  margin-left: 2vh;
}

nav {
  background-color: #df8bbd;
  width: 100px;
  height: 220px;
  padding: 16px;
  text-align: left;
  display: none;
  position: absolute;
  left: 0;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-top: 22vh;
  position: fixed;
}

@keyframes slide-in {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.9;
  }
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

h2 {
  margin: 20px;
  font-size: 60px;
  text-align: center;
  font-family: Markazi Text;
  color: #8b5db1;
  text-shadow: 1px 1.5px 1px rgb(89, 33, 79);
}

h2:hover {
  animation-name: animate__flip;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes animate__flip {
  0% {
    transform: rotateY(0deg);
    opacity: 0;
  }
  50% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.tituloSub {
  width: 90%;
  background-color: #e9c3e5;
}

.titulos {
  margin: auto;
  text-align: center;
  font-family: New Rocker;
  color: #79166f;
  animation-name: animate__rollIn;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  padding-top: 10px;
  font-size: 60px;
}

@keyframes animate__rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(50deg);
  }

  50% {
    opacity: 1;
    transform: translateX(60%) rotate(180deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0%) rotate(0);
    padding-bottom: 20px;
  }
}

.subParrafo {
  text-align: justify;
  width: 80%;
  max-width: 100%;
  font-size: 20px;
}

.panelDisney {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.ocultar {
  display: none !important; /* Usa !important si sospechas de conflictos con otras reglas */
}

.disney {
  height: 300px;
  width: 300px;
  cursor: help;
}

.volteado {
  transform: rotateY(180deg);
  transition: transform 1s;
}

#info {
  background-color: #e38a8a;
  padding: 24px;
  position: relative;
  z-index: 2;
  text-align: justify;
  width: 350px;
  margin-top: 20px;
}

.mostrar {
  display: block;
}

.ejemplo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 100%;
}

.video {
  width: 100%;
  max-width: 900px;
  left: 50%;
  view-timeline-name: --video;
  view-timeline-axis: block;

  animation-timeline: --video;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-bottom: 50px;
}

.caja {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  max-width: 1000px;
  height: 700px;
}

.caja div {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #f7f0ac, #acf7f0, #f0acf7;
  background: -webkit-linear-gradient(90deg, #f7f0ac, #acf7f0, #f0acf7);
  background: linear-gradient(90deg, #f7f0ac, #acf7f0, #f0acf7);
}
/* Asegura que las imágenes ocupen toda la celda */
.caja img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la imagen cubra todo el espacio sin deformarse */
  transition: opacity 0.3s ease; /* Efecto de transición suave al cambiar opacidad */
}

/* Ocultar el texto al principio */
.caja p {
  font-family: Langar;
  position: absolute;
  color: black;
  opacity: 0; /* El texto es invisible por defecto */
  transition: opacity 0.3s ease; /* Transición suave para mostrar el texto */
}

/* Mostrar el texto cuando el ratón pase por encima */
.caja div:hover p {
  opacity: 1; /* Muestra el texto al hacer hover */
}

/* Hacer que la imagen se desvanezca al hacer hover */
.caja div:hover img {
  opacity: 0; /* Hace la imagen invisible al pasar el ratón */
}

.uno {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}

.dos {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}

.tres {
  grid-column: 7 / 9;
  grid-row: 1 / 2;
}

.cuatro {
  grid-column: 5 / 9;
  grid-row: 2 / 3;
}

.cinco {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}

.seis {
  grid-column: 5 / 9;
}

.parrafo1 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 20px;
  font-size: 20px;
}
.parrafo2 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 10px;
  font-size: 14px;
}
.parrafo3 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 6px;
  font-size: 14px;
}

.parrafo4 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 10px;
  font-size: 14px;
}

.parrafo5 {
  bottom: 30%;
  left: 10px;
  right: 10px;
  padding: 10px;
  font-size: 14px;
}
.parrafo6 {
  text-align: center;
  bottom: 20%;
  left: 10px;
  right: 10px;
  padding: 10px;
  font-size: 40px;
  font-size: 30px;
}

@media (max-width: 800px) {
  .parrafo1,
  .parrafo2,
  .parrafo3,
  .parrafo4,
  .parrafo5,
  .parrafo6 {
    font-size: 14px; /* Tamaño más pequeño para pantallas medianas */
    padding: 10px; /* Reduce el padding en pantallas pequeñas */
  }

  .parrafo1 {
    bottom: 10%; /* Ajusta la posición */
  }

  .parrafo2 {
    bottom: 18%;
    font-size: 10px;
  }

  .parrafo3 {
    bottom: 30%;
    font-size: 10px;
  }

  .parrafo4 {
    bottom: 25%;
  }

  .parrafo5 {
    bottom: 8%;
  }

  .parrafo6 {
    bottom: 40%; /* Ajusta la posición */
    font-size: 20px; /* Tamaño más pequeño */
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%;
}

.card {
  position: relative;
  height: 300px;
  width: 400px;
  padding: 40px;
  transform-style: preserve-3d;
}

.card .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/vanelope.png");
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Asegura que el enlace esté por encima de la imagen de fondo */
  text-decoration: none; /* Elimina el subrayado del enlace */
  cursor: pointer;
}

.herramientas {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra las cartas en el contenedor */
  align-items: center; /* Alinea las cartas verticalmente */
  flex-wrap: wrap; /* Permite que las cartas se ajusten en varias filas si es necesario */
  width: 1000px; /* Asegura que el contenedor ocupe todo el ancho disponible */
  height: 400px;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 4%;
}

#herramientaT {
  position: relative;
  z-index: 3;
  background: #3b8aa6, #07534d;
  background: -webkit-linear-gradient(0deg, #3b8aa6, #07534d);
  background: linear-gradient(0deg, #3b8aa6, #07534d);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloH {
  display: flex;
  flex-direction: row;
}

.contenedorCarta {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra las cartas en el contenedor */
  align-items: center; /* Alinea las cartas verticalmente */
  flex-wrap: wrap; /* Permite que las cartas se ajusten en varias filas si es necesario */
  width: 1000px; /* Asegura que el contenedor ocupe todo el ancho disponible */
  height: 250px;
}

.carta {
  margin: 10px;
  width: 300px; /* Ajusta el ancho de las cartas */
  height: 300px; /* Ajusta la altura de las cartas */
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  transition: 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Organiza el contenido de las cartas */

  &__image {
    background: #feac5e, #c779d0, #4bc0c8;
    background: -webkit-linear-gradient(0deg, #feac5e, #c779d0, #4bc0c8);
    background: linear-gradient(0deg, #feac5e, #c779d0, #4bc0c8);
    position: relative;
    border-radius: 16px 16px 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imagenCarta {
    margin-top: 20px;
  }
  &__content {
    &__box {
      width: 300px;
      height: 80px;
      overflow: hidden;
      background: #b993d6, #8ca6db;
      background: -webkit-linear-gradient(0deg, #b993d6, #8ca6db);
      background: linear-gradient(0deg, #b993d6, #8ca6db);
      border-radius: 0 0 16px 16px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      position: absolute;
      transition: 0.7s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .tituloCarta {
        text-align: justify;
        margin-top: 50px;
        font-family: New Rocker;
      }

      p {
        color: black;
        font-size: 14px;
        text-align: justify;
        margin: 10px;
      }
      .hide-text {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }

  &:hover {
    transition: 0.7s;
    height: 200px;
  }

  &:hover img {
    transform: scale(1.2);
    opacity: 0.7;
  }

  &:hover &__content__box {
    transform: translateY(-150px);
    -moz-animation: slide 0.8s ease 0.2s forwards;
    -webkit-animation: slide 0.8s ease 0.2s forwards;
    -o-animation: slide 0.8s ease 0.2s forwards;
    -ms-animation: slide 0.8s ease 0.2s forwards;
    animation: slide 0.8s ease 0.2s forwards;
  }

  &:hover &__content__category {
    transform: translateY(-200px);
  }

  &:not(:hover) .hidden {
    height: 120px;
    opacity: 0;
    animation: fade-out 0.5s;
  }

  &:hover .hidden {
    opacity: 1;
    color: black;
    animation: fade-in 1.5s;
  }
}

/* Safari and Chrome */
@-webkit-keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 200px;
  }
}

/* Firefox */
@-moz-keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 200px;
  }
}

/* Opera */
@-o-keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 200px;
  }
}

/* IE10 */
@-ms-keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 200px;
  }
}

@keyframes slide {
  from {
    height: 120px;
  }
  to {
    height: 200px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.boton {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}
