body {
  position: flex;
  flex-direction: column;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
  margin: 12vh 0vh 0 1vh;
  padding: 2vh 1vh 2vh 2vh;
}

nav {
  background-color: #8ec4df;
  position: fixed;
  width: 100px;
  height: 230px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  display: none;
  animation-name: slide-in;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  left: 0;
  margin-top: 16vh;
}

@keyframes slide-in {
  from {
    transform: translateX(-250px); /* Empieza fuera de la pantalla */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Termina en su posición actual */
    opacity: 0.9;
  }
}

nav.mostrar {
  display: block; /* Muestra el menú cuando se activa */
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 6rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
h1 span {
  background: radial-gradient(93% 83.5% at bottom, #2e3dc7 79.5%, #0000 80%)
      no-repeat,
    radial-gradient(93% 83.5% at top, #0000 79.5%, #2e3dc7 80%) no-repeat,
    radial-gradient(93% 83.5% at bottom, #2e3dc7 79.5%, #0000 80%) no-repeat,
    radial-gradient(93% 83.5% at top, #0000 79.5%, #2e3dc7 80%) no-repeat,
    radial-gradient(93% 83.5% at bottom, #91fff6 79.5%, #0000 80%) no-repeat,
    radial-gradient(93% 83.5% at top, #0000 79.5%, #91fff6 80%) no-repeat,
    radial-gradient(93% 83.5% at bottom, #91fff6 79.5%, #0000 80%) no-repeat,
    radial-gradient(93% 83.5% at top, #0000 79.5%, #91fff6 80%) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
  -webkit-text-stroke: 0.2rem #2e3dc7;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  animation: first 2s infinite alternate, second 3s infinite linear;
}
@keyframes first {
  0% {
    background-position: -200% 100%, -100% 100%, 0% 100%, 100% 100%, 0% 100%,
      100% 100%, 200% 100%, 300% 100%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%, 300% 100%, -200% 100%,
      -100% 100%, 0% 100%, 100% 100%;
  }
}
@keyframes second {
  0% {
    background-size: 50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 90%,
      50.5% 90%, 50.5% 90%, 50.5% 90%;
  }
  33% {
    background-size: 50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 75%,
      50.5% 75%, 50.5% 75%, 50.5% 75%;
  }
  66% {
    background-size: 50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 80%,
      50.5% 80%, 50.5% 80%, 50.5% 80%;
  }
  100% {
    background-size: 50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 95%,
      50.5% 95%, 50.5% 95%, 50.5% 95%;
  }
}

.documento1,
.documento2 {
  margin: 12vh auto;
  width: 400px;
  text-align: center;
  background-color: #74c2ef;
  padding: 1cm;
}

.documentoInfo {
  color: black;
}

.btn {
  display: inline-block;
  background-color: #2e3dc7;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(200, 101, 213);
  box-shadow: 10px 10px rgb(139, 52, 116);
}

.dragon {
  width: 100%;
}
